.register-form-container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.register-form-title{
    color: #0038D1;
    font-weight: 600;
    font-size: 40px;
}
.register-form-description{
    font-size: 20px;
    color: #33333399;
}
.register-form-combo-title{
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 10px;
}

.register-form-combo{
    list-style: disc;
    margin: 0;
    padding-left: 30px;
}
.register-form-combo-item{
    display: list-item;
    color: #333333;
    font-size: 20px;
}
.register-form-submit{
    border: none;
    background-image: linear-gradient(#003BDC,#2190FF);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 4px;
    padding: 12px 60px;
    margin: auto 0;
}