@import "./varibles.constant.scss";
@import "./mixin.constant.scss";
@import "./responsive.constant.scss";


.btn-main {
  border: 1px solid $color-blue;
  color: $color-white;
  background-color: $color-blue;
  border-radius: 5px;
  padding: $btn-padding;
  font-size: $btn-font-size;
  cursor: pointer;
  &:hover {
    border: 1px solid $color-blue;
    color: $color-blue;
    background-color: transparent;
  }
}


.btn-secondary {
  border: 1px solid $color-blue;
  color: $color-blue;
  background-color: transparent;
  border-radius: 5px;
  padding: $btn-padding;
  font-size: $btn-font-size;
  cursor: pointer;
  &:hover {
    border: 1px solid $color-blue;
    color: $color-white;
    background-color: $color-blue;
  }
}