//xét background-color và color cho slider menu hoặc slider items
@mixin slider($background-color, $color) {
  background: $background-color;
  color: $color;
}

@mixin overlay($top, $left, $width) {
  top: $top;
  left: $left;
  width: $width;
}

@mixin quizz_btn_after($background_color,$border_color){
  border-radius: 16px;
  border-style: solid;
  border-width: 2px 2px 4px;
  background-clip: padding-box;
  background-color: $background_color;
  border-color: $border_color;
  bottom: -4px;
  content: "";
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
  z-index: -1;
}


@mixin btn-main($background-color,$border-color,$color,$hover-background-color,$hover-border-color,$hover-color){
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  transition: all ease 0.5s;

  &:hover {
    color: $hover_color;
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }
}