@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.title-introduce {
    color: rgb(28, 58, 68);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin: 10px;
    text-decoration-color: rgb(28, 58, 68);
    text-decoration-line: underline;
    text-decoration-style: solid;
}


.footer-review{
    .btn-main{
        width: 50% !important;
        margin: auto;
        @include responsive(XS){
            width: 100% !important;
        }
    }
    
}