@import "../../../../assets/scss/varibles.constant.scss";
@import "../../../../assets/scss/responsive.constant.scss";


.story-detail {
    width: 70%;
    margin: auto;

    img {
        width: 100% !important;
        height: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    img.d{
        width: 50% !important;
    }

    @include responsive(SM) {
        width: 100%;
    }

    .form-contact {
        .form-title {
            font-size: 20px;
            font-weight: 700;
        }
    }
}