@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.page-title {
    position: relative;
    .main-top {
        background-size: cover !important;
        background-position: center !important;
        height:70vh;
        position: relative;
        .overlay-top-header {
            position: absolute;
               top: 0;
            left: 0;
             background-color: #111;
                opacity: .65;
            &::before{
                content: "";
                width: 100%;
                height: 100%;
            }
         }
            .content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 920px;
                max-width: 100%;
                padding-top: 140px;
                h1,h2{
                    font-weight: 500;
                    line-height: 1.3;
                    font-size: 50px;
                    color: #fff;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .breadcrumb-content .breadcrumbs-wrapper .breadcrumbs {
                    text-transform: uppercase;
                    li {
                        display: inline-block;
                        a {
                            color: #aeaeae;
                            font-weight: 300;
                        }
                        span {
                            color: #fff;
                            font-size: 16px;
                        }
                        .breadcrum-icon {
                            margin: 0 5px;
                        }
                    }
                }
            }
    }
}


