.order-container {
    background-color: #D4E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 8px;
    color: #333333;
}

.order-content {
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}
.order-link{
    background-image: linear-gradient(to right, #003BDC, #2190FF);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 4px;
    padding: 12px 30px;
    margin: auto 0;
}
.order-link-wrapper{
    display: flex;
    justify-content: flex-end;
}