.article-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.article-title {
    color: #0038D1;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.article-item {
    margin-top: 50px;
}

.article-item-title {
    color: #333333;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 25px;
}

.article-item-p {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
}

.article-img-container {
    margin-top: 90px;
    margin-bottom: 25px;
    /* display: flex; */
    /* justify-content: center; */
}

.article-skill-box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.article-skill-container{
    padding: 10px 20px;
}

.article-skill-title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: #333333;
}

.article-skill-description {
    font-size: 20px;
    text-align: center;
    color: #6E6E6E;
}