@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.story-container {
    .stories-title {
        padding-left: 10px;
        color: rgb(17, 17, 17);
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 38px;
        font-family: Roboto, sans-serif;
        @include responsive(SM){
            text-align: center;
        }
    }

    .content-each-box {
        position: relative;
        // max-width: 300px;
        @include responsive(XS){
            max-width: unset;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }

        .thumbnail-each-box {
            margin-bottom: 13px;
            position: relative;
            visibility: visible;
            cursor: pointer;
            display: block;
            line-height: 21px;
            max-width: 100%;
            overflow: hidden;
            img{
                transition: all ease-in 0.4s;
                height: 200px;
                @include responsive(SM){
                    height: 250px;
                }
                @include responsive(XS){
                    height: auto;
                }
            }
         
            .success-stories {
                background-color: rgb(34, 34, 34);
                color: #fff;
                bottom: 0px;
                box-sizing: border-box;
                cursor: pointer;
                display: block;
                font-family: "Open Sans", arial, sans-serif;
                font-size: 10px;
                font-weight: 600;
                height: 16.6px;
                line-height: 10px;
                margin-right: 5px;
                padding-bottom: 4px;
                padding-left: 6px;
                padding-right: 6px;
                padding-top: 3px;
                position: absolute;
    
                &:hover {
                    background-color: #cd282f;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

       

    }

    .title-each-story {
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        color: rgb(17, 17, 17);
        cursor: pointer;
        display: inline;
        font-family: Roboto, sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 25px;
        text-decoration-color: rgb(17, 17, 17);
        text-decoration-line: none;
        text-decoration-style: solid;
        visibility: visible;

        &:hover {
            color: #cd282f;
            cursor: pointer;
            text-decoration: none;
            max-width: 300px;
        }
    }


    .span-author {
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        display: inline-block;
        font-size: 11px;
        font-weight: 700;
        line-height: 11px;
        position: relative;
        text-rendering: auto;
        text-size-adjust: 100%;
        visibility: visible;

        .author-name-each-box {
            line-height: 11px;
            text-decoration-color: rgb(0, 0, 0);
            font-family: "Open Sans", arial, sans-serif;
            text-decoration-line: none;
            text-decoration-style: solid;
            text-rendering: auto;
            text-size-adjust: 100%;
            visibility: visible;
            font-size: 11px;
            font-weight: 700;
            box-sizing: border-box;
            color: rgb(17, 17, 17);
            cursor: pointer;

            &:hover {
                text-decoration: none;
                color: rgb(17, 17, 17);
            }

            .space-span {
                color: rgb(204, 204, 204);
                box-sizing: border-box;
                font-family: "Open Sans", arial, sans-serif;
                font-size: 11px;
                font-weight: 400;
                line-height: 11px;
                margin-bottom: 0px;
                margin-left: 2px;
                margin-right: 2px;
                margin-top: 0px;
                text-rendering: auto;
                text-size-adjust: 100%;
                visibility: visible;
            }

        }

    }

    .span-post-date {
        box-sizing: border-box;
        color: rgb(170, 170, 170);
        font-family: "Open Sans", arial, sans-serif;
        font-size: 11px;
        line-height: 11px;
        text-rendering: auto;
        text-size-adjust: 100%;
        visibility: visible;
    }



    .pagination {
        padding: 25px 25px 25px 10px;

        .pagination-text {
            border: 1px solid rgb(227, 227, 227);
            padding: 5px 10px;
            margin: 0px 8px 8px 0px;
            font-size: 12px;
            display: block;
            color: rgb(102, 102, 102);

            &:hover {
                border: 1px solid #666666;
                background-color: #666666;
                color: #ffffff;
                text-decoration: none;
            }

            &.active {
                background-color: #cd282f;
                border: 1px solid #cd282f;
                color: #fff;
            }
        }

    }
}